<div class="badges">
  <div class="badges__unlocked">
    <h1>Ваши бейджи</h1>
    <%= render @badges_unlocked %>
  </div>
  <div class="badges__all">
    <h1>Все бейджи</h1>
    <%= render @badges_all %>
  </div>
</div>

