<table>
  <tr>
    <th class="sort-by-title pointer">
      Тесты:
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th>Уровень<br> сложности:</th>
    <th>Доступные<br> действия:</th>
  </tr>
  <%= render @tests %>
</table>
<br>
