<h2>Тест: <%= @test.title %></h2>
<table>
  <tr>
    <th>Вопросы:</th>
    <th>Доступные<br> действия:</th>
  </tr>
  <%= render @questions %>
</table>
<%= link_to 'Create question', new_test_question_path(@test) %>
<br>
<%= link_to 'Back to tests', tests_path %>
