<footer style='display: flex; flex-direction: column; align-items: center;'>
  <div>
    <%= current_year %> - MiKaMoRe - 
    <a href="<%= github_url('MiKaMoRe', 'TestGuru') %>" target="_blank">TestGutu</a>
  </div>
  <div>
    <a href="http://thinknetica.com" target="_blank">Учебный проект в онлайн-школе Thinknetica</a>
  </div>
</footer>
