<footer style='display: flex; flex-direction: column; align-items: center;'>
  <div>
    <%= current_year %> - MiKaMoRe - 
    <%= github_url(author: 'MiKaMoRe', repo: 'TestGuru', title: 'TestGuru') %>
  </div>
  <div>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com', target: '_blank' %>
  </div>
</footer>
